@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Unna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Unna&display=swap");
:root {
  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  height: 100%;
}
@media only screen and (max-width: 1199px) {
  .container {
    max-width: 1140px;
  }
}
@media only screen and (max-width: 991px) {
  .container {
    max-width: 600px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    max-width: 414px;
  }
}
@media only screen and (max-width: 575px) {
  .container {
    max-width: 540px;
  }
}
@media only screen and (max-width: 400px) {
  .container {
    max-width: 100%;
  }
}

.header {
  padding: 28px 16px;
}
@media only screen and (max-width: 991px) {
  .header .container {
    max-width: 1140px;
  }
}
.header--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.header--content .hamburger {
  display: none;
  position: absolute;
  width: 30px;
  height: 8px;
  background-color: #000;
  right: 0;
  cursor: pointer;
}
.header--content .hamburger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 8px;
  background-color: #000;
  top: 10px;
}
.header--content .hamburger::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 8px;
  background-color: #000;
  bottom: 10px;
}
.header--content nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  font-family: var(--font-secondary);
}
.header--content nav ul a {
  border-bottom: 1px solid transparent;
}
.header--content nav ul a:hover {
  border-bottom: 1px solid black;
}
@media only screen and (max-width: 991px) {
  .header--content .hamburger {
    display: block;
  }
  .header--content nav {
    display: none;
  }
}

.ads {
  background-color: #000;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.ads--content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.ads--content h2,
.ads--content a {
  font-size: 16px;
  font-family: var(--font-secondary);
  color: white;
}
@media only screen and (max-width: 991px) {
  .ads--content h2,
.ads--content a {
    font-size: 14px;
  }
}
.ads--content h2 {
  font-weight: 400;
}
.ads--content a {
  font-weight: 700;
  line-height: 0.8;
  border-bottom: 1px solid white;
}

.intro {
  background-color: #451314;
  height: 688px;
  overflow: hidden;
}
@media only screen and (max-width: 991px) {
  .intro {
    height: 758px;
  }
  .intro--content img {
    width: 100% !important;
    height: 100%;
  }
  .intro .container {
    width: 800px;
  }
}
@media only screen and (max-width: 767px) {
  .intro {
    height: auto;
  }
}
.intro--content {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 767px) {
  .intro--content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    row-gap: 100px;
  }
}
.intro--content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 767px) {
  .intro--content img {
    order: 2;
  }
}
.intro--content-rightside {
  position: relative;
  height: 100%;
  width: 100%;
}
.intro--content-rightside div {
  position: absolute;
  top: 35%;
  left: 20%;
}
.intro--content-rightside div h1,
.intro--content-rightside div p {
  color: white;
  margin-bottom: 30px;
}
.intro--content-rightside div h1 {
  font-family: var(--font-primary);
  font-size: 48px;
  font-weight: 400;
}
.intro--content-rightside div p {
  font-family: var(--font-secondary);
}
.intro--content-rightside div button {
  cursor: pointer;
  font-size: 14px;
  font-family: var(--font-secondary);
  padding: 14px 32px;
  border: none;
  outline: none;
}
.intro--content-rightside div button:hover {
  background-color: rgba(255, 255, 255, 0.8509803922);
}
@media only screen and (max-width: 767px) {
  .intro--content-rightside {
    order: 1;
  }
}

.collection {
  padding: 150px 0;
}
.collection--content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 10px;
  place-items: center;
}
@media only screen and (max-width: 991px) {
  .collection--content {
    grid-template-columns: 1fr;
  }
  .collection--content img {
    width: 100% !important;
  }
  .collection--content .collection--content__text {
    order: 1;
  }
  .collection--content .img2 {
    order: 2;
  }
  .collection--content .img3 {
    order: 4;
  }
  .collection--content .img1 {
    order: 3;
  }
}
@media only screen and (max-width: 767px) {
  .collection--content {
    row-gap: 40px;
  }
}
.collection--content__text {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 30px;
}
.collection--content__text h2 {
  font-family: var(--font-primary);
  font-size: 40px;
  font-weight: 400;
}
.collection--content__text p {
  font-size: 16px;
  font-family: var(--font-secondary);
}
.collection--content__text button {
  cursor: pointer;
  padding: 16px 32px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  transition: 0.3s;
}
.collection--content__text button:hover {
  background-color: #565656;
}
.collection--content img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 264px;
  height: 512px;
  filter: grayscale(1);
  transition: 0.3s;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .collection--content img {
    filter: grayscale(0);
    width: 100%;
  }
}
.collection--content img:hover {
  filter: grayscale(0);
}

.inspired {
  background-image: url(../assets/images/inspired--bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 496px;
}
@media only screen and (max-width: 767px) {
  .inspired {
    height: 414px;
  }
}
.inspired .container {
  height: 100%;
}
.inspired--content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.inspired--content h3 {
  color: white;
  font-size: 48px;
  font-family: var(--font-primary);
  font-weight: 400;
}
@media only screen and (max-width: 767px) {
  .inspired--content h3 {
    font-size: 26px;
  }
}

.categories {
  padding: 100px 0;
}
.categories--content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media only screen and (max-width: 991px) {
  .categories--content {
    grid-template-columns: 1fr;
  }
}
.categories--content__item {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.categories--content__item h3 {
  font-size: 25px;
  font-family: var(--font-primary);
  font-weight: 500;
}
.categories--content__item p {
  font-family: var(--font-secondary);
  font-size: 16px;
}
.categories--content__item button {
  padding: 16px 32px;
  border: none;
  outline: none;
  background-color: #000;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}
.categories--content__item button:hover {
  background-color: #565656;
}
.categories--content img {
  width: 100%;
}

.subscribe {
  background-image: url(../assets/images/subscribe-bg.png);
  background-position: center;
  padding: 80px 0;
  background-repeat: no-repeat;
}
.subscribe--content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.subscribe--content p {
  font-size: 40px;
  font-family: var(--font-primary);
}
@media only screen and (max-width: 991px) {
  .subscribe--content p {
    font-size: 20px;
  }
}
.subscribe--content h2 {
  font-size: 64px;
  font-family: var(--font-primary);
  width: 800px;
}
@media only screen and (max-width: 991px) {
  .subscribe--content h2 {
    font-size: 30px;
    width: auto;
  }
}
.subscribe--content form {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 15px;
}
.subscribe--content form input {
  padding: 16px 56px 16px 16px;
  width: 500px;
  outline: none;
  border: none;
  color: black;
  font-family: var(--font-primary);
  font-size: 15px;
}
@media only screen and (max-width: 991px) {
  .subscribe--content form input {
    width: auto;
  }
}
.subscribe--content form button {
  cursor: pointer;
  padding: 16px 32px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  transition: 0.3s;
}
.subscribe--content form button:hover {
  background-color: #565656;
}
.subscribe * {
  color: white;
}

.footer {
  padding: 150px 0;
}
.footer--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media only screen and (max-width: 767px) {
  .footer--content {
    flex-direction: column;
    gap: 40px;
  }
}
.footer--content__nav ul {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 30px;
}
.footer--content__nav ul li {
  line-height: 0.8;
  border-bottom: 1px solid #000;
}
.footer--content__nav ul a {
  font-size: 16px;
  font-family: var(--font-secondary);
  color: #000;
  line-height: 0.7;
}
.footer--content__support {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}
.footer--content__support h3 {
  font-size: 28px;
  font-family: var(--font-primary);
  font-weight: 400;
}
.footer--content__support p {
  font-size: 16px;
  border-bottom: 1px solid black;
  line-height: 0.8;
}
.footer--content__support p a {
  color: #000;
  font-size: 16px;
  font-family: var(--font-secondary);
}
.footer--content__support div {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: row;
  gap: 15px;
}/*# sourceMappingURL=style.css.map */